@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/jetbrainsmono/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/jetbrainsmono/JetBrainsMono-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/jetbrainsmono/JetBrainsMono-Italic.woff2') format('woff2'),
    url('/fonts/jetbrainsmono/JetBrainsMono-Italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Text';
  src: url('/fonts/plusjakartatext/PlusJakartaText-Bold.woff2') format('woff2'),
    url('/fonts/plusjakartatext/PlusJakartaText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Text';
  src: url('/fonts/plusjakartatext/PlusJakartaText-Italic.woff2')
      format('woff2'),
    url('/fonts/plusjakartatext/PlusJakartaText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Text';
  src: url('/fonts/plusjakartatext/PlusJakartaText-Regular.woff2')
      format('woff2'),
    url('/fonts/plusjakartatext/PlusJakartaText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
