@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/jetbrainsmono/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/jetbrainsmono/JetBrainsMono-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/jetbrainsmono/JetBrainsMono-Italic.woff2') format('woff2'),
    url('/fonts/jetbrainsmono/JetBrainsMono-Italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}
