@import '../styles/typography.css';
@import '../styles/docsearch.css';

:root {
  --background1: #fff;
  --background2: #fcfcfc;
  --foreground1: #000;
  --foreground2: #666;
  --accent: #eee;
  --accent2: #ccc;
  --link: #007bc7;
  --text: rgb(60, 66, 87);
  --codeblock: rgb(14, 22, 34);
  --shadow1: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 13px rgba(0, 0, 0, 0.08);
  --buttonHoverDelay: 0.15s;
  --brightness: brightness(100%);
  --logo: url('/logo-docs_light.svg');
  --logoCompany: url('/logo_planetscale_light.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: #1a1b21;
    --background2: #1a1b21;
    --foreground1: rgba(255, 255, 255, 0.9);
    --foreground2: #aaa;
    --accent: #1e1e1e;
    --accent2: #333;
    --link: #009afa;
    --text: #ccc;
    --codeblock: rgb(14, 22, 34);
    --shadow1: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 13px rgba(0, 0, 0, 0.08);
    --buttonHoverDelay: 0.15s;
    --brightness: brightness(85%);
    --logo: url('/logo-docs_dark.svg');
    --logoCompany: url('/logo_planetscale_dark.svg');
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
}
