@import 'styles/docsearch.css';
@import 'styles/theme.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  max-width: 100vw;
  color: var(--text-primary);

  &.prevent-scroll {
    overflow: hidden;
  }
}
