:root {
  --numberBoxShadow: 0px 70px 65px rgba(0, 0, 0, 0.039), 0px 30px 30px rgba(0, 0, 0, 0.037),
    0px 15px 15px rgba(0, 0, 0, 0.036), 0px 10px 8px rgba(0, 0, 0, 0.035), 0px 4px 4px rgba(0, 0, 0, 0.034),
    0px 2px 2px rgba(0, 0, 0, 0.033);
  --numberBoxRadialGradient: radial-gradient(
    ellipse farthest-side,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  --numberBoxBorder: 0 0 0 1px rgba(255, 255, 255, 0.6);
  --numberBoxBackground: #ebeef2;
}

@define-mixin darkmode {
  --numberBoxShadow: 0px 70px 65px rgba(0, 0, 0, 0.19), 0px 30px 30px rgba(0, 0, 0, 0.17),
    0px 15px 15px rgba(0, 0, 0, 0.16), 0px 10px 8px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.14),
    0px 2px 2px rgba(0, 0, 0, 0.13);
  --numberBoxRadialGradient: radial-gradient(
    ellipse farthest-side,
    rgba(26, 27, 33, 0) 0%,
    rgba(26, 27, 33, 0) 50%,
    rgba(26, 27, 33, 1) 100%
  );
  --numberBoxBorder: 0 0 0 1px rgba(26, 27, 33, 0.25);
  --numberBoxBackground: #30313a;
}

@media screen and (prefers-color-scheme: dark) {
  :root:not(.light) {
    @mixin darkmode;
  }
}

@media screen and (prefers-color-scheme: light) {
  :root.dark,
  .dark {
    @mixin darkmode;
  }
}

.errorPage-radialGradient {
  background: var(--numberBoxRadialGradient);
}

.errorPage-numberBox {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
  animation: errorPage-numberBox-border-fade-in 3s infinite ease-in-out;
}

.errorPage-numberBoxShadow {
  @apply shadow;
  animation: errorPage-numberBox-fade-in 3s infinite ease-in-out;
}
.errorPage-numberBoxShadowSet2,
.errorPage-numberBox2 {
  animation-delay: 0.5s;
}

.errorPage-numberBoxShadowSet3,
.errorPage-numberBox3 {
  animation-delay: 1s;
}

@keyframes errorPage-numberBox-fade-in {
  50% {
    box-shadow: var(--numberBoxShadow);
  }
}

@keyframes errorPage-numberBox-border-fade-in {
  50% {
    box-shadow: var(--numberBoxBorder);
    background: var(--numberBoxBackground);
  }
}
