/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px !important;
  border-radius: 6px !important;
}

.algolia-autocomplete .ds-dropdown-menu::before {
  display: none !important;
}

.ds-suggestions {
  margin: unset !important;
}

.ds-dataset-1 {
  border-color: var(--border-primary) !important;
  background: var(--bg-primary) !important;
  box-shadow: var(--tw-shadow);
  padding: 0 !important;
}

.algolia-autocomplete .ds-suggestion {
  padding: 1em !important;
  background: var(--bg-primary) !important;
  margin: 0 !important;
}

.algolia-autocomplete .ds-suggestion.ds-cursor {
  background-color: var(--bg-secondary) !important;
}

.algolia-autocomplete .ds-suggestion:hover {
  background-color: var(--border-primary) !important;
}

.algolia-docsearch-suggestion {
  background: transparent !important;
  text-decoration: none !important;
}

.algolia-docsearch-suggestion--wrapper .algolia-docsearch-suggestion--content {
  width: 100% !important;
  float: none !important;
  position: unset !important;
  background-color: unset !important;
  padding: 4px 0 !important;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-weight: 500 !important;
  font-size: 1em !important;
  color: var(--text-primary) !important;
  border-color: var(--border-primary) !important;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  display: none !important;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-inline {
  display: none !important;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: var(--text-primary) !important;
  font-weight: 300 !important;
  font-size: 14px !important;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 14px !important;
  color: var(--text-primary) !important;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: var(--text-blue) !important;
}

.algolia-docsearch-footer {
  display: none !important;
}
