:root {
  --icon-secondary-opacity: 0.5;
  --icon-tertiary-opacity: 0.3;
  --icon-stroke-green: var(--green-600);
}

.dark {
  --icon-secondary-opacity: 0.4;
  --icon-tertiary-opacity: 0.3;
  --icon-stroke-green: var(--green-500);
}

.icon-color-secondary {
  opacity: var(--icon-secondary-opacity);
}

.icon-color-tertiary {
  opacity: var(--icon-tertiary-opacity);
}
