:root {
  --white: #fff;
  --black: #000;

  --gray-050: #fafafa;
  --gray-100: #ededed;
  --gray-200: #dddddd;
  --gray-300: #cdcdcd;
  --gray-400: #adadad;
  --gray-500: #8d8d8d;
  --gray-600: #6d6d6d;
  --gray-700: #4d4d4d;
  --gray-800: #3d3d3d;
  --gray-850: #1a1a1a;
  --gray-900: #0d0d0d;

  --red-050: #fffafa;
  --red-100: #ffe5e9;
  --red-200: #fbbfc7;
  --red-300: #ff909f;
  --red-400: #ff7082;
  --red-500: #ff455d;
  --red-600: #dd243c;
  --red-700: #c11027;
  --red-800: #8f0718;
  --red-900: #341418;

  --orange-050: #fff8f3;
  --orange-100: #ffe8d8;
  --orange-200: #ffc59b;
  --orange-300: #fc9c66;
  --orange-400: #fd812d;
  --orange-500: #f35815;
  --orange-600: #c43c02;
  --orange-700: #962d00;
  --orange-800: #672002;
  --orange-900: #3c1403;

  --yellow-050: #fffbe4;
  --yellow-100: #fff1a8;
  --yellow-200: #fed54a;
  --yellow-300: #f2b600;
  --yellow-400: #d19f03;
  --yellow-500: #a78103;
  --yellow-600: #835c01;
  --yellow-700: #5c4716;
  --yellow-800: #41320c;
  --yellow-900: #281e03;

  --green-050: #effff3;
  --green-100: #d7fbdf;
  --green-200: #a9ecb8;
  --green-300: #75db8c;
  --green-400: #40d763;
  --green-500: #27b648;
  --green-600: #13862e;
  --green-700: #19652a;
  --green-800: #10481d;
  --green-900: #0a2b13;

  --blue-050: #f3fbff;
  --blue-100: #ddf2ff;
  --blue-200: #a9dffe;
  --blue-300: #73c7f9;
  --blue-400: #47b7f8;
  --blue-500: #1e9de7;
  --blue-600: #0e73cc;
  --blue-700: #144eb6;
  --blue-800: #0e3682;
  --blue-900: #08204e;

  --purple-050: #f9f8ff;
  --purple-100: #eeeaff;
  --purple-200: #d4c9fe;
  --purple-300: #b7a5fb;
  --purple-400: #a18bf5;
  --purple-500: #8467f3;
  --purple-600: #624bbb;
  --purple-700: #4b3990;
  --purple-800: #3e1f75;
  --purple-900: #27124a;

  --bg-primary: var(--white);
  --bg-secondary: var(--gray-050);
  --bg-green: var(--green-600);
  --bg-green-light: var(--green-050);
  --border-primary: var(--gray-100);
  --border-secondary: var(--gray-200);
  --border-green: var(--green-600);
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-600);
  --text-blue: var(--blue-600);
  --text-blue-dark: var(--blue-700);
  --text-green: var(--green-600);
  --text-orange: var(--orange-600);
  --text-red: var(--red-600);
  --text-red-disabled: var(--red-300);
  --text-purple: var(--purple-600);
  --graph-border: var(--gray-200);
  --graph-blue-gradient-start: var(--blue-100);
  --graph-blue-gradient-stop: var(--blue-100);
  --graph-blue-light: var(--blue-200);
  --graph-blue-dark: var(--blue-500);
  --graph-green-light: var(--green-200);
  --graph-green-dark: var(--green-500);
}

.dark {
  --bg-primary: var(--gray-900);
  --bg-secondary: var(--gray-850);
  --bg-green: var(--green-500);
  --bg-green-light: var(--green-900);
  --border-primary: var(--gray-800);
  --border-secondary: var(--gray-700);
  --border-green: var(--green-500);
  --border-green-light: var(--green-700);
  --text-primary: var(--gray-050);
  --text-secondary: var(--gray-500);
  --text-blue: var(--blue-400);
  --text-blue-dark: var(--blue-300);
  --text-green: var(--green-500);
  --text-orange: var(--orange-300);
  --text-red: var(--red-500);
  --text-red-disabled: var(--red-700);
  --text-purple: var(--purple-400);
  --graph-border: var(--gray-600);
  --graph-blue-gradient-start: var(--blue-900);
  --graph-blue-gradient-stop: var(--blue-900);
  --graph-blue-light: var(--blue-700);
  --graph-blue-dark: var(--blue-400);
  --graph-green-light: var(--green-700);
  --graph-green-dark: var(--green-400);
}
