name: Repo Sync

on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *' # every 10 minutes. set to whatever interval you like

jobs:
  repo-sync:
    name: Repo Sync
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: repo-sync/github-sync@v2
        name: Sync repo to branch
        with:
          source_repo: ${{ secrets.SOURCE_REPO }}
          source_branch: main
          destination_branch: ${{ secrets.INTERMEDIATE_BRANCH }}
          github_token: ${{ secrets.PAT }}
      - uses: repo-sync/pull-request@v2
        name: Create pull request
        with:
          source_branch: ${{ secrets.INTERMEDIATE_BRANCH }}
          destination_branch: main
          github_token: ${{ secrets.PAT }}
